.deps
depcomp
missing
config.log
config.status
aclocal.m4
autom4te.cache
install-sh
configure
Makefile
Makefile.in
lmvm
lmvm.o
lmas
hash.o
scanner.c
scanner.o
parser.c
parser.h
parser.o
ylwrap
test-driver
*.log
*.trs
*.bin
*.out
*.swp
*.exe
config.in
config.in~
config.h
stamp-h1
lmc-*.tar.gz
